# Порт, на котором слушает ваше Node.js приложение внутри контейнера app
APP_PORT=8085

# Внутренний HTTPS-порт Nginx.
# Именно на него Xray делает fallback через target=127.0.0.1:9443
NGINX_HTTPS_PORT=9443

# Внешний HTTP-порт для редиректа http -> https
NGINX_HTTP_PORT=80

# Домен вашего сайта
SITE_DOMAIN=example.com

# Пути на хосте к TLS-сертификату и приватному ключу
CERT_FULLCHAIN_PATH=/home/user/certs/fullchain.pem
CERT_PRIVKEY_PATH=/home/user/certs/privkey.pem